<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <div class="main">
      <h1> Instagram Clone</h1>
      <h3>Sign Up</h3>
      <h4>{{ today }}</h4>
    </div>


<form method = "post">

FullName:
<input type="text" name="fname" value="{{fullname}}">
<br>
UserName
<input type="text" name="uname" value="{{username}}">
<br>
Email:
<input type="email" name="email" value="{{email}}">
<br>
Password:
<input type="password" name="password" value="{{password}}">
<br>
<input type="submit" value="SignUp">

</div>
    <div>
        <div><h3>Already a user?</h3><a href="login/">Login</a> </div>
    </div>
</form>
</body>